<div class="global">
  <header class="encabezado">
    <h1>{{title}}</h1>
  </header>

  <section class="contenido">

    <section class="contenido-detalles">
      <article class="detalle-pokemon">
        <h3>Detalles Pokemon</h3>
        <app-pokemon-view *ngIf="selectedPokemon.name" [entrada]="selectedPokemon"></app-pokemon-view>
      </article>

    </section>

    <aside class="list-pokemon">
      <h2 class="list-title">Lista Pokemon</h2>

      <ul class="pokemon-items">
        <li (click)="setPokemon(pokemon.id)" class="items" *ngFor="let pokemon of pokemonListData">
          <p>N° {{pokemon.id}}</p>
          <span href="#">{{pokemon.name}}</span>
          <img src="https://www.pkparaiso.com/imagenes/xy/sprites/animados/{{pokemon.name}}.gif" alt="">
        </li>
      </ul>
    </aside>

  </section>
</div>
