<h1>PokéDex</h1>
<!-- <router-outlet></router-outlet> -->


<div class="container">

  <div class="pokemonsDataContent" *ngIf="pokemonListData">

    <div class="aboutPokemon">

    </div>

    <div class="listPokemon" *ngFor="let pokemon of pokemonListData">

      <h2>#{{pokemon.id}}</h2>
      <span href="#">{{pokemon.name}}</span>
      <img src="https://pokeres.bastionbot.org/images/pokemon/{{pokemon.id}}.png" alt=""> <!--Consumo imagen de otro URL-->
      {{ordenar()}}
    </div>    

  </div>


</div>
